@scope (.__Header) {
	:scope {
		height: 3rem;
		border-bottom: 1px solid var(--overlay);
		display: flex;
		justify-content: space-between;
		align-items: center;
		--button-height: 100%;

		> .title {
			font-weight: 500;
			width: fit-content;
		}

		nav {
			height: 100%;
			display: flex;
		}
	}
}