@scope (.__Menu) {
	:scope {
		padding: 0;
		width: 15rem;
		list-style: none;
		background-color: var(--surface);
		border: none; /* popover */

		--shadow-color: 0deg 0% 0%;
		box-shadow:
			0.1px 0.4px 0.6px hsl(var(--shadow-color) / 0.04),
			0.5px 3.3px 4.8px -0.2px hsl(var(--shadow-color) / 0.15),
			1.4px 10.2px 14.7px -0.5px hsl(var(--shadow-color) / 0.27);
	}
}