@scope (.__TextInput) {
	:scope {
		background-color: var(--surface);
		color: var(--text);
		height: 2.5rem;
		padding: 0 0.5rem;
		border: none;
		border-bottom: 2px solid color-mix(in srgb, white 20%, var(--surface));
		font-size: 1rem;

		&:focus {
			outline: 2px solid var(--primary);
			outline-offset: -2px;
		}
	}
}