@scope (.__Toolbar) {
	:scope {
		> * {
			flex-grow: 1;
			display: flex;
			justify-content: center;
		}
		&:first-child, &:last-child { flex-basis: 0 }
		&:first-child { justify-content: flex-start }
		&:last-child { justify-content: flex-end }

		.actions {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
		}

		.title {
			font-size: 1.5rem;
			width: fit-content;
		}
	}
}