@scope (.__Socket) {
	:scope {
		position: relative;
		circle {
			fill: var(--socket-color, var(--data-float));
		}
	}
}

@scope (.__InSocket) {
	:scope {
		right: 4px;
	}
}

@scope (.__OutSocket) {
	:scope {
		left: 4px;
	}
}
