@import '@fontsource-variable/inter';

:root {
	--base: hsl(0, 0%, 10%);
	--surface: hsl(0, 0%, 15%);
	--overlay: hsl(0, 0%, 20%);
	--primary: hsl(220, 100%, 50%);
	--text: #ffffff;
	--subtext: #dddddd;

	font-family: 'Inter Variable', Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--base);
	color: var(--text);
	margin: 0;
}

h1 {
	margin: 0;
	margin-bottom: 1rem;
	padding: 0;
}

h1, h2 {
	font-weight: 500;
}

hr {
	border: 1px solid var(--overlay);
	width: 100%;
}

p {
	margin: 0;
}

a {
	color: color-mix(in srgb, var(--text) 40%, var(--primary));
}